{% extends 'base.html' %} {% block content %}

<div class="row">
    <div class="col s12">

        <h1 class="center-align">Filter Vehicles</h1>

        <p>This page is upto you on what to filter below. If no filter is applied then everything from the database will be shown.</p>
        <p>The results below displayed below: </p>

        {% with messages = get_flashed_messages() %} {% if messages %}
        <div class="flash-message">
            {% for message in messages %}
            <li>
                <h4>{{ message }}</h4>
            </li>
            {% endfor %}
        </div>
        {% endif %} {% endwith %}
    </div>
    
    <form class="col s12 text-colour-sec center-align" action="/filter-cars" method="POST">
        {{ form.csrf_token }}
        <div class="row">
            <div class="center-align">
                <div class="row">
                    <div class="input-field col s6 m3">
                        {{ form.region.label }}<br> {{ form.region }}
                    </div>
                    <div class="input-field col s6 m3">
                        {{ form.drive.label }}<br> {{ form.drive }}
                    </div>
                    <div class="submit col s6 m3">
                        <br>{{ form.submit(class='col s12 btn btn-large waves-effect blue lighten-1') }}
                    </div>
    
                </div>
            </div>
        </div>
    </form>
    {% for car in cars %}
    <div class="col s12 m12 l12 xl6">
    
        <div class="z-depth-3 grey lighten-4 row form-padding">
            <div class="container">
                <div class="row">
                    <div class="s12 summary-image">
                        {% if car.img_url %} 
                            {{ car.img_url }} 
                        {% else %}
                            <img src="./static/images/no_img.jpg"> 
                        {% endif %}
                    </div>
                </div>
                <div class- "row">
                    <div class="s6 summary-make">
                        {{ car.make }}
                        {{ car.model }}
                    </div>
                    <div class-"s6 summary-modrl">
                        
                    </div>
                </div>
            </div>
        </div>
    
    </div>
    {% endfor %}
    </div>
    {% endblock %}
    