{% extends 'base.html' %} {% block content %}

<div class="row">
    
    <div class="col s12">
            
            <h1 class="center-align">Vehicle Information</h1>
            
            <p class="center">Below you will see the vehicle you clicked on to see more infomation.
            If you were the one who added it to the database you can update any information if needed!</p>
            
            <p class="center"><b>RWD</b> - Rear Wheel Drive <br> <b>FWD</b> - Front Wheel Drive <br> <b>AWD</b> - All Wheel Drive</p>
            
            <hr class="hr"></hr>
            
             {% with messages = get_flashed_messages() %} {% if messages %}
             <div class="flash-message">
                 {% for message in messages %}
                 <li>
                     <h4>{{ message }}</h4>
                 </li>
                 {% endfor %}
             </div>
             {% endif %} {% endwith %}
             </div>
             
{% if vehicles %}
<div class="col s12 animated fadeIn">
   
    <div class="z-depth-3 grey lighten-4 row form-padding">
        <div class="container">
            <div class="row">
                <div class="col s12 vehicle-info-images materialboxed">
                    {% if vehicles.img_url %}
                       <img src= {{ vehicles.img_url }} >
                    {% else %}
                        <img src="/static/images/vehicles/no_img.jpg">
                    {% endif %}
                </div>
            </div>
            <hr class="hr">
            <div class="row info-container-design">
                <div class="col s12 summary-make-model center">
                    <h3>{{ vehicles.make }} {{ vehicles.model }}</h3>
                </div>
                <div class="col s12 summary-stats-container center">
                    <div class="col s12 summary-stats-table">
                        <table class="centered striped ">
                            <tbody>
                                <tr>
                                    <td>Total Horsepower: </td>
                                    <td>{{ vehicles.hp_amount}} BHP </td>
                                </tr>
                                <tr>
                                    <td>Total Torque: </td>
                                    <td>{{ vehicles.torque_amount }} lb-ft</td>
                                </tr>
                                <tr>
                                    <td>Car Year:</td>
                                    <td>{{ vehicles.model_year }}</td>
                                </tr>
                                <tr>
                                    <td>Transmission type:</td>
                                    <td>{{ vehicles.trans }}</td>
                                </tr>
                                <tr>
                                    <td>Drivetrain type:</td>
                                    <td>{{ vehicles.drivetrain }}</td>
                                </tr>
                                <tr>
                                    <td>Body style:</td>
                                    <td>{{ vehicles.chassy_desc }}</td>
                                </tr>
                                <tr>
                                    <td>0-60mph in seconds:</td>
                                    <td>{{ vehicles.accel_time }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col s12 summary-car-description center">
                        <h5 class="center">Description</h5>
                        <hr class="hr">
                        {{ vehicles.car_desc }}

                    </div> 
                </div>
                <div class="col s12 summary-uploaded-by center">
                    Uploaded by <b>{{ vehicles.upload_by }}</b>
                    
                </div>
                <div class="col s12 summary-popularity center">
                    {% if current_user.is_authenticated %}
                        {% if current_user.has_liked_car(vehicles) %}
                            <a href="{{url_for('like', car_id=vehicles.id, action='unlike')}}" title="Down vote this car"><i class="down-vote material-icons">arrow_downward</i></a> 
                        {% else %}
                            <a href="{{url_for('like', car_id=vehicles.id, action='like')}}" title="Up vote this car"><i class="up-vote material-icons">arrow_upward</i></a>
                        {% endif %}
                    {% endif %}
                        <p><strong>Likes: </strong> {{ vehicles.likes.count() }} </p>
                    
                    </div>
                <div class="row summary-buttons center">
                    {% if current_user.username == vehicles.upload_by %} 
                        <a type="button" href="{{url_for('filter')}}" class="waves-effect waves-light btn-large blue lighten-1"><i class="material-icons left">arrow_back</i>Back</a>
                        <a type="button" href="{{url_for('editVehicle', car_id=vehicles.id, vehicleName=vehicles.model)}}" class="waves-effect waves-light btn-large blue lighten-1"><i class="material-icons right">build</i>Edit</a>
                        <a type="button" href="{{url_for('deleteVehicle', car_id=vehicles.id)}}" class="waves-effect waves-light btn-large blue lighten-1">Delete</a>
                    {% else %}
                        <a type="button" href="{{url_for('filter')}}" class="waves-effect waves-light btn-large blue lighten-1"><i class="material-icons left">arrow_back</i>Back</a>
                    {% endif %}           
                </div>
            </div>
        </div>
    </div>

</div>
{% endif %}
</div>
{% endblock %}

